  <launch>
    <arg name="exp_param_file" value="$(find remani_planner)/config/exp0_param.yaml"/>

    <include file="$(find remani_planner)/launch/run_in_sim.launch">
      <arg name="exp_param_file" value="$(arg exp_param_file)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find remani_planner)/launch/exp0.rviz"/>

  </launch>
